body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

h2 {
    color: #555;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.data-table th,
.data-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.data-table th {
    background-color: #f4f4f4;
}

.data-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.data-table tr:hover {
    background-color: #f1f1f1;
}

.table-image {
    width: 50px;
    height: auto;
}
.search-container {
    margin: 20px 0;
    text-align: center;
}

.search-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 800px;
    margin-right: 10px;
    transition: border-color 0.3s;
}

.search-input:focus {
    border-color: #007bff;
    outline: none;
}

.search-button {
    padding: 10px 20px;
    font-size: 16px;
    color: #053861;
    background-color: #8fc0f4;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #644df9;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

.data-table th, .data-table td {
    padding: 12px;
    text-align: left;
}

.data-table th {
    background-color: #f4f4f4;
}

.data-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-image {
    width: 50px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.header{
    background-color: rgb(188, 230, 247);
    padding: 5px;
    border-radius: 10px;
}

.webtitle{
    color: #033263;
    font-size: 60px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn-color{
    background-color: rgb(184, 197, 246);
    font-weight: bolder;
}
.btn-color:hover{
    background-color: #5327ef;
    color:#f1f1f1;
    font-weight: bolder;
}